@using LibraryAPI.DTOs
@model UpdateBookDTO

@{
	ViewData["Title"] = "Update Book Information";
}

<div class="row">
	<div class="col-md-4">
		<form asp-action="UpdateBook">
			<div class="form-group">
				<label asp-for="Title" class="control-label"></label>
				<input asp-for="Title" class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="Author" class="control-label"></label>
				<input asp-for="Title" class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="Title" class="control-label"></label>
				<input asp-for="Title" class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="Title" class="control-label"></label>
				<input asp-for="Title" class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="Title" class="control-label"></label>
				<input asp-for="Title" class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="Title" class="control-label"></label>
				<input asp-for="Title" class="form-control" />
			</div>
		</form>
	</div>
</div>